
label {
    display: inline-block;
    margin-bottom: .5rem;
    margin-top: .5rem;
    font-size: 1.5rem;
    color: #a94348;
}
.docs-example {
    position: relative;
    padding: 1em;
    border: 1px solid #d8d8d8;
    margin: 1.5rem 1rem 1rem;
}
